
body {
 	background: url(fondo-tren.jpg);
	background-attachment: fixed;
	background-size:cover;
	margin: 0;
}

.form-book-imagen{
	background-image: linear-gradient(to bottom, rgba(205, 156, 242, 0.40) 0%, rgba(246, 255, 255, 0.9) 90%);
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	text-align: center;
	border-radius: 5px;
	max-width: 500px;
	margin: 60px auto;
	padding: 4% 0%;
	position: relative;
}

@media screen and (max-width: 768px) {
  .form-book-imagen {
    margin: 25px auto;
    width: 95%;
  }
}

.img-preve img{
 width: 50%;
 border: 1px solid #000;
}

/*input file*/
.inputModificado {
    margin: 20px 0px 0px 50px;
    clear: both;
    display: flex;
    flex-direction: row;
}

/*-- caja de file css-----*/
.inputImagen {
    font-weight: bold;
    background: rgba(255, 13, 254, 0.90); 
	width: 50%;
	text-align: center;
	border-radius: 7px;
	background: #eee;
	padding: 1em 1em;
	outline: none;
	border: none;
	color: #222;
	transition: 0.3s linear;
    float: left;
    margin-top:  -2px;
}

/*-- boton file con css */
.botonInputFileModificado {
    position: relative;
    width: 28%;
    margin-left: -5px;
    background-image: linear-gradient(to left, rgba(255, 146, 202, 0.75) 0%, rgba(145, 149, 251, 0.86) 100%);
	box-shadow: 0 9px 25px -5px #df91fb;
	font-family: 'Abel', sans-serif;
	border-radius: 7px;
	cursor: pointer;
	color: #FFFFFF;
	outline: none;
	border: none;
	transition: 0.3s linear;
}

.botonInputFileModificado:hover {   
    transform: translatey(2px);
}

.botonInputFileModificado .boton {
	padding: 0.5em;
}

/*input oculto*/
.botonInputFileModificado .inputImagenOculto {
    opacity: 0;
    position: absolute;
    margin-left: -160px;
    width: 225px;
}
